name: auth0/auth0-auth-java/build-and-test

on:
  pull_request:
  merge_group:
  push:
    branches: ["master", "main"]

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2

      - name: Test and Assemble with Gradle
        run: ./gradlew assemble check --continue --console=plain

      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: unittests

      - uses: actions/upload-artifact@v6
        with:
          name: Reports
          path: |
            auth0-api-java/build/reports/
            auth0-springboot-api/build/reports/
