name: auth0/auth0-auth-java/build-and-test

on:
  pull_request:
  merge_group:
  push:
    branches: ["master", "main"]

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244 # v4.3.1

      - name: Test and Assemble with Gradle
        run: ./gradlew assemble check --continue --console=plain

      - uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: |
            packages/auth0-api-java/build/reports/
            packages/auth0-springboot-api/build/reports/
